.qna-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    gap: 3rem;
}
.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 21px;
}
.contact-form input{
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #F4F4F4;
    padding: 5px 20px;
}
.contact-form textarea{
    height: 120px;
    top: 20px;
    border: none;
    background-color: #F4F4F4;
    border-radius: 15px;
    padding: 10px 20px;
    outline: 0;
}
.contact-form button{
    background-color: #00276E;
    border: none;
    color: white;
    height: 40px;
    border-radius: 15px;
}
.contact-form h3{
    text-align: center;
    color: #00276E;
}
.social-links{
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: center;
    margin-top: 50px;
}
.social-links h3{
    color: #00276E;
    text-align: center;
}
.social-platforms{
    display: flex;
    gap: 35px;

}
.social-platforms .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    color: #00276E;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}
.btn span:first-child{
    font-size: 40px;
}